<!DOCTYPE html>
<html lang="En">
    <head>
        <title>Notes book</title>
    </head>
    <body>
    <h1>Home work 2</h1>
        <p>Notes</p>
            <nav>
                <ul>
                    <li><a href="/reg">Registration</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/notes">Show notes</a></li>
                    <li><a href="/add_note">Add note</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
    {% block content %}{% endblock content %}
    </body>
</html>